{% extends "layout.html.twig" %}

{% block pageHeader %}Crear Sucursal{% endblock %}
{% block optionalDescription %}{% endblock %}
{% block content %}
    <div class="alert alert-danger alert-dismissable" id="alert" hidden>
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h4>Uno de los campos obligatorios se encuentra vacio, revise la informacion e intente de nuevo
            <i class="icon fa fa-ban"></i></h4>

    </div>
    <div class="row">
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Crear Sucursal</h3>
                </div><!-- /.box-header -->
                <!-- form start -->
                <form role="form" id="newSucursalForm">
                    <div class="box-body">

                        <div class="col-md-12"></div>
                        <div class="form-group col-md-6">
                            <label for="inputName">Nombre</label>
                            <input type="text" class="form-control" id="inputName" >
                        </div>
                        <div class="col-md-12"></div>
                        <!-- Date range -->
                        <div class="form-group col-md-6">
                            <label>Fecha de Apertura:</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" class="form-control pull-right" id="fechaOriginal" >
                            </div><!-- /.input group -->
                        </div><!-- /.form group -->
                        <!-- Date range -->
                        <div class="col-md-12"></div>
                        <div class="form-group col-md-6">
                            <label for="inputPais">Pais:</label>
                            <input type="text" class="form-control" id="inputPais" >
                        </div>
                        <div class="col-md-12"></div>
                        <div class="form-group col-md-6">
                            <label for="inputCiudad">Ciudad:</label>
                            <input type="text" class="form-control" id="inputCiudad" >
                        </div>
                        <div class="col-md-12"></div>
                        <div class="form-group col-md-6">
                            <label for="inputCodigoPostal">Codigo Postal:</label>
                            <input type="text" class="form-control" id="inputCodigoPostal" >
                        </div>
                        <div class="col-md-12"></div>
                        <div class="form-group col-md-6">
                            <label for="inputUrbanizacion">Urbanizacion:</label>
                            <input type="text" class="form-control" id="inputUrbanizacion" >
                        </div>
                        <div class="col-md-12"></div>
                        <div class="form-group col-md-6">
                            <label for="inputCalle">Calle:</label>
                            <input type="text" class="form-control" id="inputCalle" >
                        </div>
                        <div class="col-md-12"></div>
                        <div class="form-group col-md-6">
                            <label for="inputEdificio">Edificio:</label>
                            <input type="text" class="form-control" id="inputEdificio" >
                        </div>
                        <div class="col-md-12"></div>
                        <div class="form-group col-md-6">
                            <label for="inputReferencia">Referencia:</label>
                            <input type="text" class="form-control" id="inputReferencia" >
                        </div>


                    </div><!-- /.box-body -->

                    <div class="box-footer">
                        <div class="col-md-1">
                            <button type="submit" class="btn btn-primary" id="submitBtn">Submit</button>
                        </div>
                    </div>
                </form>
            </div><!-- /.box -->
        </div><!-- /col -->
    </div><!-- /row -->

{% endblock %}
{% block scripts %}
    <script>
        $(function () {
            //Datemask dd/mm/yyyy
            $("#fechaOriginal").inputmask("dd/mm/yyyy", {"placeholder": "dd/mm/yyyy"});
        });
        $(document).ready(function () {
            $("#newSucursalForm").submit(function (event) {
                if($("#inputName").val().length == 0 ||
                $("#inputCodigoPostal").val().length == 0 ||
                $("#fechaOriginal").val().length == 0)
                {
                    $("#alert").show();
                }
                else {
                    var city = $("#inputCiudad").val().toLowerCase();
                    var pais = $("#inputPais").val().toLowerCase();
                    $.ajax({
                        url: "/sucursales/new?name=" + $('#inputName').val() + "&" +
                        "fecha=" + $("#fechaOriginal").val() + "&" +
                        "pais=" + pais + "&" +
                        "ciudad=" + city + "&" +
                        "codigoPostal=" + $("#inputCodigoPostal").val() + "&" +
                        "urbanizacion=" + $("#inputUrbanizacion").val() + "&" +
                        "calle=" + $("#inputCalle").val() + "&" +
                        "edificio=" + $("#inputEdificio").val() + "&" +
                        "referencia=" + $("#inputReferencia").val()
                        ,
                        method: "POST",
                        dataType: 'json',
                        encode: true
                    })
                            .done(function (data) {
                                console.log(data);
                                window.location = "/sucursales";
                            });
                }

                });
        });

    </script>
{% endblock %}